# EmailJS Configuration
EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=
EMAILJS_PUBLIC_KEY=

# Admin Email (optional)
ADMIN_EMAIL=

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_UPLOAD_PRESET=cv_uploads




#FORMS
FORMSPREE_TRAINING_URL=https://formspree.io/f/12345
FORMSPREE_EMPLOYERS_URL=https://formspree.io/f/12345
FORMSPREE_CONTACT_URL=https://formspree.io/f/12345
FORMSPREE_CONTACT_URL=https://formspree.io/f/12345
FORMSPREE_NEWSLETTER_URL=https://formspree.io/f/12345