/* =====================================
   SMOOTH SCROLLING
===================================== */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px; /* navbar height */
}

body {
  overflow-x: hidden;
}